VITE_SCANNER_LICENSE=

# Elegir si el front apunta a la API de producción o a la API local. Producción por defecto, local comentada.
VITE_API_URL=https://apiophi.arcxvi.stream/api
# VITE_API_URL=http://localhost:8000