@import "tailwindcss";

:root {
    --main-bg: #F5F5F5;
    --secondary-bg: #005B8E;
    --action: #009161;
    --danger: #C43B52;
}

body {
    background-color: var(--main-bg);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    
}

p {
    font: 1rem;
}

#app {
    max-width: 420px;
    height: 100dvh;
    margin-inline: auto;
    border: 1px solid red;
}

.action-btn {
    background-color: var(--action);
    border-radius: 2rem;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-action-btn {
    background-color: white;
    border: 2px solid var(--action);
    border-radius: 2rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-components {
    background-color: var(--secondary-bg);
}


.inputs  {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    padding: .5rem;
    background-color: #ffffff;
    border-bottom: 1px solid var(--action);
}


.square-with-gradient {
    background: linear-gradient(#005B8E , #F5F5F5 40%);
}

.square-with-gradient-success {
    background: linear-gradient(#009161 , #F5F5F5 40%);
}

.square-with-gradient-danger {
    background: linear-gradient(#C43B52 , #F5F5F5 40%);
}

.square-with-gradient-mix {
    background: linear-gradient(#009161 10%, #C43B52 , #F5F5F5 40%);
}


#search {
    border-radius: 1.4rem;
}

#history-component {
    border-radius: .5rem;
}

.danger-border {
    border: 3px solid var(--danger);
}

.success-border  {
    border: 3px solid var(--action);
}

.history-list {
    li {
        border-radius: .5rem;
        height: 70px;
        margin-bottom: .5rem;
    }
    
}


.circle-user {
    background-color: #005B8E;
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}


.danger {
    border-radius: .8rem;
    background-color: #C43B52;

}

.success {
    border-radius: .8rem;
    background-color: #009161;
   
}

.danger-some {
    background-color: #C43B52;
    border-radius: .8rem;
}

.danger-some-bordered {
    background-color: #C43B52;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.success-some {
    background-color: #009161;
    border-radius: .8rem;
}

.success-some-bordered {
    background-color: #009161;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem; 
}

.true {
    li {
        border-bottom: 1px solid #009161;
    }
}

.false {
    li {
        border-bottom: 1px solid #C43B52;
    }
}

.search-list-item {
    border-radius: .8rem;
}

.SearchView-list {
    li {
        border-bottom: 1px solid #009161;
        padding: 1rem;
    }
}


.view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* La que entra, empieza afuera a la derecha */
.slide-enter-from {
  transform: translateX(100%);
}

/* Termina cubriendo todo */
.slide-enter-to {
  transform: translateX(0);
}

/* La vista que sale NO se mueve ni se anima */
.slide-leave-from,
.slide-leave-to {
  transform: translateX(0);
}

.slide-enter-active {
  transition: transform 0.30s ease;
}

/* La que sale no debe tener transición */
.slide-leave-active {
  transition: none;
}


.scanner-nav {
    border-radius: 50%;
    border: 10px solid #005a8e8f ;
  
}